<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1> Hello!</h1>
    <form action="/madlib1">
        <label>Person
            <select name="Person">
                <option value="Barack Obama">Barack Obama</option>
                <option value="Santa Claus">Santa Claus</option>
                <option value="Kim Kardashian">Kim Kardashian</option>
            </select>
            <br>
        <label>Color
            <select name="Color">
                <option value="Blue">Blue</option>
                <option value="Pink">Pink</option>
                <option value="Teal">Teal</option>
            </select>
            <br>
        <label>Noun
            <select name="Noun">
                <option value="trash can">trash can</option>
                <option value="lamborghini">lamborghini</option>
                <option value="hamburger">hamburger</option>
            </select>
            <br>
        <label>Adjective
            <select name="Adjective">
                <option value="smelly">smelly</option>
                <option value="shiny">shiny</option>
                <option value="gross">gross</option>
            </select>
            <br>
        <label>Pets:
            <input type="checkbox" name="pets" value="dog">Dog
            <input type="checkbox" name="pets" value="pig">Pig
            <input type="checkbox" name="pets" value="monkey">Monkey
            <input type="checkbox" name="pets" value="dolphin">Dolphin
        <input type="submit">
        </form>
</body>
 </html>
