<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1> Hello!</h1>
    <form action="/madlib2">
        <label>Country
            <select name="Country">
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Thailand">Thailand</option>
            </select>
            <br>
        <label>Food
            <select name="Food">
                <option value="croissants">croissant</option>
                <option value="bratwurst">bratwurst</option>
                <option value="pad thai">pad thai</option>
            </select>
            <br>
        <label>Action
            <select name="Action">
                <option value="smoke">smoke</option>
                <option value="drink beer">drink beer</option>
                <option value="do yoga">do yoga</option>
            </select>
            <br>
            <input type="submit">
        </form>
</body>
 </html>